.reviews{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    .cards{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        row-gap: 10px;
        column-gap: 10px;
    }
    .btn{
        width: 200px;
    }
}